<section class="section minh flex">
  <div class="container has-text-centered">
      <div class="flex mb50">
        <h1 class="title has-text-primary-dark">Log in</h1>
      </div>
    <div class="columns is-centered">
      <div class="column is-5 is-4-desktop">
        <p>
          {{> message}}
        </p>
        
        <form method="post" action="/auth/signin" method="post" id="form_user">


          <div class="field">

            <div class="control">
              <input id="email" type="email" class="input-text input" placeholder="batman@darknight.com" name="email"
        required >
            </div>

          </div>
       
          <div class="field">

            <div class="control">
              <input id="password" type="password" class="input-text input" placeholder="••••••" required name="password"
        value="1234">
            </div>

          </div>


          <div class="field is-grouped">

            <div class="control is-expanded">
              <button class="button is-primary is-outlined is-fullwidth">Log In!</button>
            </div>


            <div class="control is-expanded">
              <button class="button is-primary is-fullwidth">Sign up!</button>
            </div>

          </div>
      
        </form>
      </div>
    </div>
  </div>
</section>
