<section class="section">
  <div class="container">
    <div class="columns is-desktop is-vcentered">
      <div class="column is-6-desktop"><img src="https://placehold.it/600x400" alt=""></div>
      <div class="column is-6-desktop">
       

 
        
       <form class="form-horizontal"action="/admin/addProduct" method="POST" >
						<fieldset>
						<!-- Text input-->
						<div class="field">
						<label class="label" for="brand">Brand Name</label>
						<div class="control">
							<input id="brand" name="brand" type="text" placeholder="John Snow" class="input ">
							
						</div>
						</div>

                          <!-- Text input-->
						<div class="field">
						<label class="label" for="reference">Brand reference</label>
						<div class="control">
							<input id="reference" name="reference" type="text" placeholder="JMVDSFF" class="input ">
							
						</div>
						</div>

						<!-- Text input-->
						<div class="field">
						<label class="label" for="description">Description</label>
						<div class="control">
							
							<input class="textarea input" id="description" name="description" type="text" placeholder="e.g. Hello world" class="input ">
						</div>
						</div>

						
                        
						<!-- Button (Double) -->
						<div class="field">
						<label class="label" for="edit"></label>
						<div class="control">
							<button id="edit" name="edit" class="button is-primary">Save</button>
						
						</div>
						</div>

						</fieldset>
					</form>
       
        <hr>
       
      </div>
    </div>
  </div>
</section>