<section class="section">
  <div class="container">
    <div class="columns is-desktop is-vcentered">
      <div class="column is-6-desktop" id="placeholderContainerlens"><img src="https://placehold.it/600x400" alt=""></div>
      <div class="column is-6-desktop">
       

 
        
       <form class="form-horizontal"action="/admin/addProduct" method="POST" enctype="multipart/form-data">
						<fieldset>
						<!-- Text input-->
						<div class="field">
						<label class="label" for="brand">Brand Name</label>
						<div class="control">
							<input id="brand" name="brand" type="text" placeholder="John Snow" class="input ">
							
						</div>
						</div>

                          <!-- Text input-->
						<div class="field">
						<label class="label" for="reference">Brand reference</label>
						<div class="control">
							<input id="reference" name="reference" type="text" placeholder="JMVDSFF" class="input ">
							
						</div>
						</div>

						<!-- Text input-->
						<div class="field">
						<label class="label" for="description">Description</label>
						<div class="control">
							
							<input class="textarea input" id="description" name="description" type="text" placeholder="e.g. Hello world" class="input ">
						</div>
						</div>

									<!-- File Button --> 

						<label class="label" for="img">upload your ordonnance</label>
						<div class="file">
						<label class="file-label">
							<input id="output" class="file-input" type="file" name="img" onchange="if (this.files.length > 0) document.getElementById('filename-ordonnance').innerHTML = this.files[0].name;">
							<span class="file-cta">
							<span class="file-icon">
								<i class="fa fa-upload"></i>
							</span>
							<span class="file-label" id="filename-ordonnance">
								Choose a file…
							</span>
							</span>
						</label>
						</div>
						<!-- Button (Double) -->
						<div class="field">
						<label class="label" for="edit"></label>
						<div class="control">
							<button id="edit" name="edit" class="button is-primary">Save</button>
						
						</div>
						</div>

						</fieldset>
					</form>
       
        <hr>
       
      </div>
    </div>
  </div>
</section>