

<section class="section" >

<div class="container">
  <div class="card">

<table class="table">
<thead>
  <tr>
  <th>USERNAME</th>
  <th>EMAIL</th>
  <th>PHONE</th>
  <th>USER PROFILE</th>
  </tr>
</thead> 
<tbody>
{{#each user}}
<tr>
<td>{{this.username}}</td>
<td>{{this.email}}</td>
<td>{{this.telephone}}</td>
<td><a href="/user/profile">GO to profile</a></td>
</tr>
</tbody>
{{/each}}
</table>
</div>
</div>
</section>