<section class="section">


  <div class="container">
    <div class="columns is-desktop is-vcentered">
      <div class="column is-6-desktop"><img src="{{lens.img}}" alt=""></div>
      
	  <div class="column is-6-desktop">
        

        
       <form class="form-horizontal"  method="POST">
						<fieldset>
						<!-- Text input-->
						<div class="field">
						<label class="label" for="brande">Name</label>
						<div class="control">
							<input id="brand" name="brand" type="text" placeholder="John Snow" class="input " value={{lens.brand}}>
							
						</div>
						</div>
                        <!-- Text input-->
						<div class="field">
						<label class="label" for="username">Reference</label>
						<div class="control">
							<input id="reference" name="reference" type="text" placeholder="JMVDSFF" class="input " value={{lens.reference}}>
							
						</div>
						</div>

						<!-- Text input-->
						<div class="field">
						<label class="label" for="description">Description</label>
						<div class="control">
							<textarea id="description" name="description" type="text"class="textarea" placeholder="e.g. Hello world" >{{lens.description}}</textarea>
							
						</div>
						</div>

						
                        
						<!-- Button (Double) -->
						<div class="field">
						<label class="label" for="edit"></label>
						<div class="control">
							<button id="edit" name="edit" class="button is-primary">edit</button>
							
						</div>
						</div>

						</fieldset>
					</form>
        
        <hr>
       
      </div>
    </div>
  </div>
      

</section>