<section class="section">
  <div class="container">
    <div class="columns is-desktop is-vcentered">
      <div class="column is-6-desktop"><img src="https://placehold.it/600x400" alt=""></div>
      <div class="column is-6-desktop">
        <div class="level is-mobile">
         
          <div class="level-left"><a class="level-item" href="#"><img src="placeholder/icons/unicorn.svg" alt=""></a><a class="level-item" href="#"><img src="placeholder/icons/unicorn.svg" alt=""></a><a class="level-item" href="#"><img src="placeholder/icons/unicorn.svg" alt=""></a><a class="level-item" href="#"><img src="placeholder/icons/unicorn.svg" alt=""></a><a class="level-item" href="#"><img src="placeholder/icons/unicorn.svg" alt=""></a></div>
        
        </div>
        
       <form class="form-horizontal" >
						<fieldset>
						<!-- Text input-->
						<div class="field">
						<label class="label" for="username">Brand Name</label>
						<div class="control">
							<input id="username" name="username" type="text" placeholder="John Snow" class="input ">
							
						</div>
						</div>
                        <!-- Text input-->
						<div class="field">
						<label class="label" for="username">Brand reference</label>
						<div class="control">
							<input id="username" name="username" type="text" placeholder="JMVDSFF" class="input ">
							
						</div>
						</div>

						<!-- Text input-->
						<div class="field">
						<label class="label" for="description">Description</label>
						<div class="control">
							<textarea class="textarea" placeholder="e.g. Hello world"></textarea>
							
						</div>
						</div>

						
                        
						<!-- Button (Double) -->
						<div class="field">
						<label class="label" for="edit"></label>
						<div class="control">
							<button id="edit" name="edit" class="button is-primary">edit</button>
							
						</div>
						</div>

						</fieldset>
					</form>
       
        <hr>
       
      </div>
    </div>
  </div>
</section>