
<section class="section">
    <h3 class="title is-3">ADD PRODUCT  
        <a href="/admin/addProduct">
        <i class="fas fa-plus  icon is-medium"></i>
        </a>
        </h3>
       
	  <div class="container">
		<div class="tile is-ancestor">
			
        <form class="form" action="/admin/addProduct" method="GET"></form>

            <div class="tile is-parent">
				<div class="card">
					<div class="card-image">
                       
						<figure class="image is-4by3">
							<img src="/image/acuvue.jpg" alt="Placeholder image">
						</figure>
                         
					</div>

                    {{!-- content --}}

 

					<div class="card-content">
						<div class="media">
							<div class="media-left">
								<figure class="image is-48x48">
									<img src="/image/acuvue.jpg" alt="">
								</figure>
							</div>
							<div class="media-content"> 
                                <label id="brand" name="brand" for="brand"> </label>
                                <input id="brand" name="brand" type="text" placeholder="John Snow" class="input is-large" readonly="true" >
							</div>
						</div>
                          
                           <label id="description" for="description"></label>
                           <input id="description" name="description" type="text" placeholder="John Snow" class="input is-large" readonly="true" >
						<div class="content">{{Lens.description}}</div>
					</div>
             


					 <footer class="card-footer">
					    <a href="/admin/editProduct" class="card-footer-item">edit</a>
						 <a href="" class="card-footer-item">delete</a>
					 </footer>
				</div>
			  </div>
               
        
   
                </div>
                </form>  
			</div>
            <a href="/admin/editProduct" class="card-footer-item">edit</a>
		</section>

      