
<section class="section">
    <h2 class="title is-3">ADD PRODUCT  <i class="fas fa-plus  icon is-medium"></i></h2>
    
	  <div class="container">
		<div class="tile is-ancestor">
			
            
            <div class="tile is-parent">
				<div class="card">
					<div class="card-image">
                       
						<figure class="image is-4by3">
							<img src="/image/acuvue.jpg" alt="Placeholder image">
						</figure>
                         
					</div>
					<div class="card-content">
						<div class="media">
							<div class="media-left">
								<figure class="image is-48x48">
									<img src="/image/acuvue.jpg" alt="">
								</figure>
							</div>
							<div class="media-content">
								<p class="title is-4">ACUVUE</p>
						
							</div>
						</div>

						<div class="content">qdsqsdfqsdfqsdfqsdfsqdfsdfsqdfsdfe <br>
                        qsdfqsdfqsdfqsdfsqdfsqdffs</div>
					</div>
					 <footer class="card-footer">
					    <a href="" class="card-footer-item">edit</a>
						 <a href="" class="card-footer-item">delete</a>
					 </footer>
				</div>
			  </div>
               
                
            <div class="tile is-parent">
				<div class="card">
					<div class="card-image">
                       
						<figure class="image is-4by3">
							<img src="/image/acuvue.jpg" alt="Placeholder image">
						</figure>
                         
					</div>
					<div class="card-content">
						<div class="media">
							<div class="media-left">
								<figure class="image is-48x48">
									<img src="/image/acuvue.jpg" alt="">
								</figure>
							</div>
							<div class="media-content">
								<p class="title is-4">ACUVUE</p>
						
							</div>
						</div>

						<div class="content">qdsqsdfqsdfqsdfqsdfsqdfsdfsqdfsdfe <br>
                        qsdfqsdfqsdfqsdfsqdfsqdffs</div>
					</div>
					 <footer class="card-footer">
					    <a href="" class="card-footer-item">edit</a>
						 <a href="" class="card-footer-item">delete</a>
					 </footer>
				</div>
			  </div>
         
   
                </div>
			</div>
		</section>

      