
<section class="section">
    <h3 class="title is-3">ADD PRODUCT  
        <a href="/admin/addProduct">
        <i class="fas fa-plus  icon is-medium"></i>
        </a>
        </h3>
       
	  <div class="container">
		<div class="tile is-ancestor">
			
        <form class="form" action="/admin/lenses" method="GET"></form>

            <div class="tile is-parent">
				<div class="card">
					<div class="card-image">
                       
						<figure class="image is-4by3">
							<img src="/image/acuvue.jpg" alt="Placeholder image">
						</figure>
                         
					</div>
					<div class="card-content">
						<div class="media">
							<div class="media-left">
								<figure class="image is-48x48">
									<img src="/image/acuvue.jpg" alt="">
								</figure>
							</div>
							<div class="media-content"> 
                                <label for="title">
                                    <p class="title is-4">ACUVUE</p>
                                    </label>
								
						
							</div>
						</div>

						<div class="content">qdsqsdfqsdfqsdfqsdfsqdfsdfsqdfsdfe <br>
                        qsdfqsdfqsdfqsdfsqdfsqdffs</div>
					</div>
					 <footer class="card-footer">
					    <a href="/admin/editProduct" class="card-footer-item">edit</a>
						 <a href="" class="card-footer-item">delete</a>
					 </footer>
				</div>
			  </div>
               
        
   
                </div>
                </form>  
			</div>
            <a href="/admin/editProduct" class="card-footer-item">edit</a>
		</section>

      