<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a id="logo-home" class="navbar-item" href="/">
      <i class="far fa-eye fa-3x"></i>
    </a>
   
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">

		{{!-- {{#if isUser}} --}}
	      <a href="/user/orders" class="navbar-item">
			orders
		</a>

		<a href="/user/profile" class="navbar-item">
			profile
		</a>
		{{!-- {{/if}}
		{{#if isAdmin}} --}}
	      <a href="/admin/clients" class="navbar-item">
			clients
		</a>

		<a href="/admin/lenses" class="navbar-item">
			lenses
		</a>
		{{!-- {{/if}} --}}


    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
			{{!-- {{#unless isLoggedIn}} --}}
          <a href="/auth/signup" class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a href="/auth/signin" class="button">
            Log in
          </a>
			{{!-- {{/unless}} --}}
			{{!-- {{#if isLoggedIn}} --}}
		  <a href="/auth/logout" class="button">
            Log out
          </a>
			{{!-- {{/if}} --}}
        </div>
      </div>
    </div>
  </div>
</nav>