
<section class="minh">
<section class="hero ">
  <div class="hero-body">
    <div class="container has-text-centered">
      
      
      <h1 class="title is-spaced is-size-1 has-text-primary-dark">TIME TO CHANGE</h1>
      
      
      <h2 class="subtitle is-size-3 has-text-primary"> No more forgetting ... No more wasting Time.</h2>

        <h4 class="is-size-5 ">We care about your eyes. We help you chose the most suitable lenses for you, delivery them at home, and remind you when to change them.</h4>
     
    </div>
  </div>
</section>

<section class="section">
  <div class="container has-text-centered py-4">
 
    <div class="columns is-multiline is-centered">
      <div class="column is-8 is-4-widescreen mb-5 " >
        <div class="is-inline-block image is-64x64 " ><img  src="/image/lens-holder.png" alt=""></div>
        <h4 class="title has-text-primary-dark"> Choose your Brand</h4>
        <p>We offer you a wide range of brands, choose your favorite one or try new one ... "</p>
      </div>
      <div class="column is-8 is-4-widescreen mb-5">
        <div class="is-inline-block image is-64x64"><img src="/image/date.png" alt=""></div>
        <h4 class="title has-text-primary-dark"> Set reminder</h4>
        <p>No more forgetting, set up a reminder so we can send you your lenses before running out of stock</p>
      </div>
      <div class="column is-8 is-4-widescreen mb-5">
        <div class="is-inline-block image is-64x64"><img src="/image/upload.png" alt=""></div>
        <h4 class="title has-text-primary-dark"> Save files</h4>
        <p>No more wasting time finding your ordonnance ... save all your files in one place</p>
      </div>
    </div>
 
  </div>
</section>
</section>