<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="/stylesheets/adjustments.css">
    <script src="/javascripts/navBar.js"></script>
    {{#each js}}
    <script src='/javascripts/{{this}}.js' type="module"></script>
    {{/each}}
  </head>
  <body class="has-navbar-fixed-top">
    {{> navBar}}
    {{{body}}}
   {{> footer}}
  </body>
   
</html>
