<div class="columns">
	<div class="column">
		<div class="card">
		<div class="card-image">
			<figure class="image is-128x128">
				<img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
			</figure>
		</div>
		<div class="card-content">
			<div class="content">
				<form class="form-horizontal" >
					<fieldset>
					<!-- Text input-->
					<div class="field">
					<label class="label" for="username"></label>
					<div class="control">
						<input id="username" name="username" type="text" placeholder="John Snow" class="input is-large">
						
					</div>
					</div>

					<!-- Text input-->
					<div class="field">
					<label class="label" for="email">email</label>
					<div class="control">
						<input id="email" name="email" type="text" placeholder="john.snow@winter.fall" class="input ">
						
					</div>
					</div>

					<!-- Text input-->
					<div class="field">
					<label class="label" for="telephone">your number</label>
					<div class="control">
						<input id="telephone" name="telephone" type="text" placeholder="0607080910" class="input ">
						
					</div>
					</div>

					<!-- Text input-->
					<div class="field">
					<label class="label" for="address">your address</label>
					<div class="control">
						<input id="address" name="address" type="text" placeholder="15 wintefall wall NY" class="input ">
						
					</div>
					</div>

					<!-- Button (Double) -->
					<div class="field">
					<label class="label" for="edit"></label>
					<div class="control">
						<button id="edit" name="edit" class="button is-primary">Save</button>
						<button id="discard" name="discard" class="button is-danger">Discard changes</button>
					</div>
					</div>

					</fieldset>
				</form>

			</div>
		</div>
		</div>
	</div>
	<div class="column"></div>
</div>