.navbar-start {
	margin: auto;
  }

.navbar-end {
	margin: 0;
}

.button {
	margin: auto;
}

.card-image .image.is-128x128 {
	margin: auto;
}

input:read-only {
	border: none;
	padding: 0;
	color: #363636;
}

.zi50 {
	z-index: 2;
}

thead tr{

	border: solid 2px;
	background-color:	rgb(2, 210, 178) ;
	text-align: center;
	
}

tbody tr{
	text-align: center;
	
}

.doubleBtn {
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.2s;
}

#profilePic {
	transform: translateY(50px);
	width: 200px;
	height: 200px;
}

.card-image img {
	background-color: #cccccc;
}


#navbarBasicExample {
	z-index: 100;
}

