.navbar-start {
	margin: auto;
  }

.navbar-end {
	margin: 0;
}

.card-image .image.is-128x128 {
	margin: auto;
}

input:read-only {
	border: none;
	padding: 0;
	color: #363636;
}

.zi50 {
	z-index: 50;
}
table{
	margin-top: 100px;
	border: solid 2px;
	border-radius: 20%;
}


.doubleBtn {
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.2s;
}

#profilePic {
	transform: translateY(50px);
	width: 200px;
	height: 200px;
}

.card-image img {
	background-color: #cccccc;
}


.navbar {
	z-index: 100;
}