.navbar-start {
	margin: auto;
  }

.navbar-end {
	margin: 0;
}

.card-image .image.is-128x128 {
	margin: auto;
}

input:read-only {
	border: none;
	padding: 0;
	color: #363636;
}

#show {
	z-index: 50;
}
