*

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/* 
.signform {


display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 15%;
}
 */

 /* .section{
   margin-top: 15%;
 } */
 