*

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.signform {
text-align: center;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 10%;
}

.field{
  width: 50vw;
}